* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edefee;
  font-size: 2rem;
  margin: 3rem 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "offer"
    "cards"
    "footer";
}

header {
  grid-area: header;
}

header > img {
  display: block;
  margin: 0 auto;
  width: 45%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1.5rem 0;
}

h2 {
  font-size: 2rem;
  
}

nav {
  grid-area: nav;
}

nav > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #333333;
  gap: 1.5rem;
  width: 100%;
  border-radius: 20px;
  font-weight: 500;
}

nav > ul > li {
  padding: 1rem 0;
}

nav a {
  text-decoration: none;
  color: #eceeed;
}

.weekend-offer {
  background-image: url("https://assets.limetray.com/assets/image_manager/uploads/7639/eb-slide-23423-2.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 20px;
  padding: 2rem;
  grid-area: offer;
}

.weekend-offer p {
  width: 80%;
}

.cards {
  display: grid;
  gap: 2rem;
  grid-area: cards;
}

.card {
  background-color: #f4e5d6;
  border-radius: 15px;
  padding: 1.5rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  grid-area: footer;
}
