* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #edefee;
    font-size: 2rem;
    margin: 3rem 5%;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "offer"
      "cards"
      "footer";
  }
  
  header {
    grid-area: header;
    text-align: center;
  }
  
  header > img {
    display: block;
    margin: 0 auto;
    width: 45%;
  }
  
  /* Typography */
  h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 1.5rem 0;
  }
  
  h2 {
    font-size: 2.5rem;
    padding: 2rem 0;
    font-weight: 900;
  }
  
  /* Navigation */
  nav {
    grid-area: nav;
  }
  
  nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
    gap: 1.5rem;
    width: 100%;
    border-radius: 20px;
    font-weight: 500;
  }
  
  nav > ul > li {
    padding: 1rem 0;
  }
  
  nav a {
    text-decoration: none;
    color: #eceeed;
  }
  
  /* Weekend Offer Section */
  main {
    display: grid;
    grid-template-areas:
      "offer"
      "cards";
    gap: 2.5rem;
  }
  
  .weekend-offer {
    background-image: url("https://assets.limetray.com/assets/image_manager/uploads/7639/eb-slide-23423-2.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 20px;
    padding: 2rem;
    grid-area: offer;
  }
  
  .weekend-offer p {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Cards Section */
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
    grid-area: cards;
  }
  
  .card {
    background-color: #f4e5d6;
    border-radius: 15px;
    padding: 1.5rem;
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .card p{
    margin-bottom: 2rem;
  }

  .card ul {
    list-style: none;
    margin-left:2rem;
  }

  .card a{
    color: #2317d2;
  }
  
  /* Footer */
  footer {
    grid-area: footer;
    text-align: center;
    padding: 1rem 0;
    /* display: flex; */
  }
  
  footer img {
    width: 90px;
  }
  
  footer div {
    margin-top: 1rem;
  }
  
  footer hr {
    margin: 1rem auto;
    width: 100%;
  }

  @media (max-width: 768px) {
    body {
      font-size: 1.5rem;
      margin: 1rem;
    }

    header > img {
      width: 80%;
    }

    nav > ul {
      flex-direction: column;
      text-align: center;
      padding: 1rem 0;
    }

    nav > ul > li {
      padding: 0.5rem 0;
    }

    .weekend-offer {
      padding: 1.5rem;
    }

    .weekend-offer p {
      width: 100%;
      font-size: 1.2rem;
    }

    .cards {
      grid-template-columns: 1fr;
    }

    .card {
      padding: 1rem;
    }

    .card h2 {
      font-size: 2rem;
      padding: 1rem 0;
    }

    .card p {
      font-size: 1.3rem;
    }

    footer img {
      width: 70px;
    }
  }
  
